 .container {
    width: auto;
    padding: 10px 60px;
}

.firstLine {
    display: flex;
    width: 890px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}


table {
    width: 890px;
    background-color: white;
    border-collapse: collapse;
    border-bottom: 1px solid black; 
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  thead tr {
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 1px solid black;
  }

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  .home {
    margin-top: 40px;
    cursor: pointer;
  }
  
  .home:hover {
    text-decoration: underline;
  }

  .showing-entries-and-pagination {
    display: flex;
    width: 890px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .pagination button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .pagination span {
    border: 1px solid #979797;
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
  }